p {
    font-size:xx-large;
    font-family: Outfit;
    position: absolute;
    top:150px;
    left:400px;
    color: aliceblue;
}

img{
    width:200px;
    height:120px;
    position: absolute;
    top:140px;
    left:360px;
}
#div{
    width:200px;
    height:100px;
}