body{
    margin:0;
}

#parent{
    background: blueviolet;
    width:500px;
    height:500px;
    position: absolute;
}

#child{
    background: black;
    width:50px;
    height:50px;
    position: relative;
}